* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
}

nav {
  align-items: center;
  display: flex;
  gap: 3.2rem;
  margin: 72px 0 0 40px;
}

nav a {
  font-weight: 400;
  line-height: 22px;
  font-size: 22px;
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/universe-1.png);
  background-size: cover;
}

.main {
  margin: 113px 0 0 102px;
  width: 648px;
  height: 250px;
  text-align: left;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 199px;
}

.home main {
  text-align: center;
}

.home h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.home a {
  text-decoration: none;
}

button {
  border: 2px solid hsla(0, 0%, 100%, 1);
  border-radius: 5px;
  background-color: transparent;
  margin-top: 24px;
  width: 195px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.home a:hover {
  background-color: hsla(0, 0%, 100%, 1) white;
  color: hsla(194, 97%, 31%, 1);
}

p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
}

.second {
  background-image: url(./assets/images/universe02.png);
}

.third {
  background-image: url(./assets/images/universe-3.png);
}
