* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
  --active-card-bg: #02799d;
  --active-card-fill: #ffffff;
  --inactive-card-bg: #e1e1e6;
  --inactive-card-fill: #323238;
}

body {
  min-height: 100vh;
}

.grid-cards {
  display: grid;
  grid-template-columns: 9rem 9rem;
  grid-row-gap: 0.3rem;
  padding-top: 35px;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 1rem, 2rem);
}

.controls svg {
  width: 4.2rem;
  height: 4.2rem;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.enabled path:nth-child(1) {
  fill: var(--active-card-bg);
}
.enabled path:nth-child(2) {
  fill: var(--active-card-fill);
}

.disabled path:nth-child(1) {
  fill: var(--inactive-card-bg);
}
.disabled path:nth-child(2) {
  fill: var(--inactive-card-fill);
}

button:hover {
  transform: scale(110%);
  cursor: pointer;
}

.hide {
  display: none;
}

.timer {
  justify-self: center;
}

span {
  font-family: 'Roboto', sans-serif;
  color: #323238;
  font-size: 7rem;
  line-height: 14.8rem;
  font-weight: 500;
}

footer {
  padding-top: 2rem;
  text-align: center;
}

@media (min-width: 760px) {
  body {
    max-width: 100vw;
    max-height: 100vh;
    padding: 12% 6% 10%;
  }

  main {
/*     padding: clamp(6rem, 15vh, 15rem) clamp(3rem, 4vw + 4vw, 10rem);
 */    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
  }

  .grid-cards {
    grid-template-columns: 9rem 9rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-top: 35px;
    align-self: end;
    justify-self: center;
  }

  .sound-toggle {
    display: flex;
    justify-content: right;
    padding-top: 3rem
  }
}
